.text-type {
  display: block;
  white-space: pre-wrap;
  font-weight: bolder;
  font-size: 20px;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
